<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MicroUI</title>
  <meta name="theme-color" content="#4285f4"><script defer="" src="../microUI_files/main.min.js.download"></script><link href="../microUI_files/main.min.css" rel="stylesheet"></head>
<body><div class="appSideNavOverlay">
  <div class="appSideNav">
    <span class="close-thick js_hamburger_"></span>
    <div class="logoIcon" style="margin-bottom:30px;"></div>
    <a href="http://localhost:8000/">Landing</a>
  </div>
</div>
<div class="cFab">▲</div>
<div class="appHero">
</div>
<div class="appNavigation">
    <ul class="menu">
        <li class="disabled_">
            <a class="">
                <img src="./microUI_files/microLogo.jpg" class="navLogo" alt="">
            </a>
        </li>
    </ul>
    <ul class="menu">
        <li class="active">
            <a href="http://localhost:8000/" class="lnk">
                <span class="label">Micro </span>
                <i class="fas fa-cannabis"></i>
            </a>
        </li><li class="">
        <a href="http://localhost:8000/all-gadgets" class="lnk">
            <span class="label">About </span>
            <i class="fas fa-cogs"></i>
        </a>
    </li><li class="">
        <div class="dropdown">
            <a class="lnk dropBtn">Demos <i class="fas fa-caret-down"></i></a>
            <div class="dropdown-content" style="left:0;">
                <a class="dropLnk " href="http://localhost:8000/routes-mapping"><i class="fas fa-star"></i> Demo One</a>
                <a class="dropLnk " href="http://localhost:8000/php-raw-form"><i class="fas fa-star"></i> Demo One</a>
                <a class="dropLnk " href="http://localhost:8000/api/autocomplete"><i class="fas fa-cogs"></i> Demo One</a>
                <a class="dropLnk " href="http://localhost:8000/image-b64-convertor"><i class="fas fa-star"></i> Demo Two</a>
                <a class="dropLnk " href="http://localhost:8000/countries-data"><i class="fas fa-car"></i> Demo Tree</a>
            </div>
        </div>
    </li>

    </ul>
    <ul class="menu admin">
        <li>
            <div class="dropdown">
                <a class="lnk dropBtn"><span class="drop_language pt"></span></a>
                <div class="dropdown-content" style="right:0;">
                    <a class="dropLnk " href="http://localhost:8000/">
                        <div class="language pt"> Portuguese </div>
                    </a>
                    <a class="dropLnk active" href="http://localhost:8000/">
                        <div class="language en"> English</div>
                    </a>
                    <a class="dropLnk " href="http://localhost:8000/">
                        <div class="language fr"> French</div>
                    </a>
                </div>
            </div>
        </li>



        <li class="">
            <a href="http://localhost:8000/api/auth/create" class="lnk">
                <span class="label">Register </span>
                <i class="fas fa-user-plus"></i>
            </a>
        </li><li class="">
        <a href="http://localhost:8000/api/auth" class="lnk">
            <span class="label">LogIn </span>
            <i class="fas fa-sign-in-alt"></i>
        </a>
    </li>
    </ul>
    <ul class="menu responsive">
        <li>
            <a class="lnk">
                <span class="js_hamburger" style="font-size: 1.4rem">☰</span>
            </a>
        </li>
    </ul>
</div>


<div class="container appContent">
</div>

<div class="appFooter">
  <span>® MicroPHP - </span>
</div>
</body></html>