.Mauv,
.Maroon {
  background-color: maroon;
}
.Yellow{
  background-color: yellow;

}
.Fuscia{
  background-color: fuchsia;

}
.Teal{
  background-color: teal;

}
.Khaki{
  background-color: khaki;

}
.Violet{
  background-color: violet;

}
.Blue{
  background-color: blue;
}
.Aquamarine{
  background-color: aquamarine;
}
.Orange{
  background-color: orange;
}
.Indigo{
  background-color: indigo;
}
.Turquoise{
  background-color: turquoise;
}
.Crimson{
  background-color: crimson;
}
.Green{
  background-color: green;
}
.Pink{
  background-color: pink;
}
.Puce,
.Goldenrod{
  background-color: goldenrod;
}
.Red{
  background-color: red;
}
.Purple{
  background-color: purple;
}
.Custom{
  background-color: whitesmoke;
}
