
// Easy select color setup
$theme-color: #6d6d6d;
$theme-background-color: #ffffff;

$item-ui-height: 2rem;
//$item-ui-background-color: rgba(123, 201, 122, 0.94);
//$item-ui-background-hover: rgb(153, 153, 153);

$item-ui-color: #000000;
$item-ui-hover: #FFFFFFFF;

