
//@import "~normalize.css";
//@import "~purecss";
//@import "~bulma";
//@import "~bootstrap-css-only";
@import "~bootstrap-css-only";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,300;1,400&family=Ubuntu:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,300;1,400&family=Ubuntu:ital,wght@1,300;1,400&display=swap');
//
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";


@font-face {
  font-family: Captcha;
  src: url("../fonts/AnonymousClippings.ttf");
}


.defAvatar {
  content: url("../images/default_avatar.png");
}

body {
  font-family: 'Ubuntu', sans-serif;
  }

@import "title";
@import "flashStyles";