{% extends 'layout/master.twig' %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/calendar.min.css') }}">
{% endblock head %}

{% block content %}
    <div class="container appContent" >
        <div class="sectionSeparator"></div>
        <div class="title">IDate<small>Typescript Calendar Gadget</small></div>
        <hr>

        <div class="row">
            <div class="col-12">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{{ asset('js/calendar.min.js') }}"></script>
{% endblock scripts %}

