<fieldset><strong style="color: #ff0000"><small>[Warning]</small></strong> <small style="color: #000000">Major Security Risk on Public Computers...</small>
    <div class="form-group">
        <div class="form-check">
            <label class="form-check-label form-control-sm">
                <input type="checkbox" class="form-check-input" name="rme" value="on" onclick="">
                Remember me W
            </label>
        </div>
        <div class="form-check">
            <label class="form-check-label form-control-sm">
                <input type="checkbox" class="form-check-input" name="authLog" value="on" onclick="">
                Keep me logged W
            </label>
        </div>
    </div>
</fieldset>
